

/* Scrollbar styling */
.scrollable-div::-webkit-scrollbar {
    width: 8px;
}

.scrollable-div::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}